.padding-top-15 {
  padding-top: 15px;
}

.edit-container {
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
    margin-left: 25px;
    margin-right: 25px;
  }

.btn {
  margin-top: 15px;
}
.btn-primary {
  margin-right: 20px;
}